<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-xs-12">
        <!--<vjs-video-container vjs-ratio="16:9">-->
            <video style="width: 100%" vjs-video vjs-media="VideosCtrl.mediaObj" class="video-js vjs-default-skin" autoplay="true" controls preload="auto" poster="poster.jpg">

            </video>
        <!--</vjs-video-container>-->

                <!--<video-->
                        <!--id="vid1"-->
                        <!--class="video-js vjs-default-skin"-->
                        <!--controls-->
                        <!--autoplay-->
                        <!--width="800"-->
                        <!--data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=Ca93bp-jpn8"}], "youtube": { "iv_load_policy": 1 } }'-->
                        <!-->
                <!--</video>-->
            </div>
        </div>
        <div class="row video-info-row">
            <div class="col-md-3">

            </div>
            <div class="col-md-9">
                <div class="video-rating-wrapper">
                    <span style="margin-right: 15px"> Rate the video </span>
                    <div class="btn-group" role="group" aria-label="Rate This Video">
                        <button  ng-class="{'btn-primary' : VideosCtrl.rate === i}" ng-repeat="i in [1, 2, 3, 4, 5]" ng-click="VideosCtrl.rateVideo(i)" type="button" class="btn btn-default">{{i}}</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row comments-row">
                <form class="form form-inline">
                    <div class="form-group col-md-12">
                        <label class="col-md-3" for="exampleInputName2">Leave Comment</label>
                        <div class="col-md-9 comments-textarea-wrapper">
                            <textarea  type="text" class="form-control" id="exampleInputName2" placeholder="Enter You Comment"></textarea>

                        </div>
                    </div>
                    <div class="col-md-12 actions-row">
                        <button id="browse-video-cta" type="button" class="btn btn-default">Detailed information about the video</button>
                        <button id="save-comment-cta" type="submit" class="btn btn-primary">Save Comment</button>

                    </div>
                </form>
        </div>


    </div>
    <div class="col-md-3">
        <div class="video-thumb-side-menu">
          <div ng-click="VideosCtrl.videoSelected(video)" ng-repeat="video in VideosCtrl.videos" class="video-thumb">

              <img class="img-thumbnail" ng-src="{{video.thumbnailUrl}}">
              <p ng-bind="video.title"> </p>
              <!--<video-->
                      <!--id="vid{{$index}}"-->
                      <!--class="video-js vjs-default-skin"-->
                      <!--controls="false"-->
                      <!--width="300" height="100"-->
                      <!--thumbnails="true"-->
                      <!--data-setup='{ "techOrder": ["youtube"], "sources": [{ "type": "video/youtube", "src": "https://www.youtube.com/watch?v=Ca93bp-jpn8"}], "youtube": { "iv_load_policy": 1 } }'-->
                      <!-->
              <!--</video>-->
          </div>
        </div>
    </div>
</div>


